@font-face {
   font-family: 'Alternate Gothic';
   font-weight: 500;
   font-style: normal;
   src: url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.eot');
   src: url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.eot?#iefix') format('embedded-opentype'),
   url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.woff2') format('woff2'),
   url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.woff') format('woff'),
   url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.ttf') format('truetype'),
   url('../fonts/alternate-gothic/hinted-AlternateGotNo1D.svg#AlternateGotNo1D') format('svg');
 }

 @font-face {
   font-family: 'Maison Neue';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/maison-neue/hinted-MaisonNeue-Book.eot');
   src: url('../fonts/maison-neue/hinted-MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
   url('../fonts/maison-neue/hinted-MaisonNeue-Book.woff2') format('woff2'),
   url('../fonts/maison-neue/hinted-MaisonNeue-Book.woff') format('woff'),
   url('../fonts/maison-neue/hinted-MaisonNeue-Book.ttf') format('truetype'),
   url('../fonts/maison-neue/hinted-MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
 }