$body-bgc: rgb(68, 68, 68);
$blue-bgc: rgb(33, 88, 127);
$main-color: rgb(219, 219, 219);
$accent-color: rgb(238, 206, 26);
$maison-neue: 'Maison Neue', sans-serif;
$alternate-gothic: 'Alternate Gothic', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, header, nav, section, footer {
 margin: 0;
 padding: 0;
}

body {
  background: $body-bgc;
  color: $main-color;
  //height: 100%;
  //min-height: 400px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $maison-neue;
  line-height: 1.5;
  margin: auto;
 //max-width: 1400px;
}

// .logo {
//   position: absolute;
//   z-index: 3;
//   left: 35px;
//   top: 35px;
//   cursor: pointer;
//   font-family: $alternate-gothic;
//   font-size: 2em;
//   text-transform: uppercase;
// }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out;
  }
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  //height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: $body-bgc;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.menu-branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  //background: $body-bgc;
  //transform: translate3d(0, 100%, 0);
  //transition: all 0.5s ease-out;
  // &.show {
  //   transform: translate3d(0, 0, 0);
  // }
  // .portrait {
  //   width: 250px;
  //   height: 250px;
  //   background: url("../images/portrait.jpg");
  //   background-size: cover;
  //   border-radius: 50%;
  //   border: solid 3px rgb(238, 206, 26);
  // }
}

.menu {
  .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: #eece1a;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    font-family: 'Alternate Gothic', sans-serif;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover {
      color: #eece1a;
    }
  }
}

.nav-item {
  &:nth-child(1) {
    transition-delay: 0.1s;
  }
  &:nth-child(2) {
    transition-delay: 0.2s;
  }
  &:nth-child(3) {
    transition-delay: 0.3s;
  }
  &:nth-child(4) {
    transition-delay: 0.4s;
  }
}

h1, h2, h3 {
  font-weight: 400;
  font-family: $alternate-gothic;
}

h1.lg-heading {
  font-size: 12rem;
}

h2.lg-heading, h3.lg-heading {
  font-size: 7rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  background: rgb(72, 104, 127);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $accent-color;
}

.main-block {
  padding: 4rem;
  background:  $body-bgc;
  min-height: 100vh;
}

.home {
  background: url(../images/background.jpg);
  min-height: 320px;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  &__description {
    padding-left: 3rem;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-0%, -50%);
  }
  &__icons {
    margin-top: 1rem;
    z-index: 2;
  }
  &__link {
    padding: 0.4rem;
    &:hover {
      color: #eece1a;
      transition: all 0.5s ease-out;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.9);
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid;
    width: 200px;
    height: 200px;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: #eece1a;
      color: #000;
      span {
        color: #000;
      }
    }
  }
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

.work {
  // background-color: rgb(255, 255, 255);
  // color: rgb(43, 43, 43);
  &__section-title {
    text-align: center;
    display: flex;
  }
}

.title-section .fp-tableCell {
  vertical-align: inherit;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  .main-block {
  padding: 1rem;
  background:  $body-bgc;
  min-height: 100vh;
}
  .home {
    &__description {
    padding-left: 2.5rem;
    transform: translate(-5%, -50%);
    //margin-right: -50%;
    }
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    //height: auto;
  }
  ul.menu-nav.show, div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    //height: auto;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url("../images/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }
    .lg-heading {
      margin-top: 1rem;
      font-size: 5rem;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .home {
    &__description {
    padding-left: 0;
    transform: translate(-5%, -50%);
    margin-right: 0
    }
  }
}

.fa-2x {
  font-size: 2em;
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container {
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:$body-bgc;
  padding:10px 50px 50px;
}
h2 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group {
  position:relative;
  margin-bottom:45px;
}
input, textarea {
  font-size:18px;
  background-color: $body-bgc;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus { outline:none; }

/* LABEL ======================================= */
label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}